.aboutme__section {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
}

.aboutme__title {
  padding-left: 10px;
  /* Reducido a la mitad */
  text-align: center;
}

.description {
  display: flex;
  justify-content: center;
  padding: 70px;
  flex-wrap: wrap;
}

.description__info {
  width: 60%;
  padding-right: 20px;
}

.description__text {
  padding-top: 10px;
  text-align: justify;
}

.aboutme__contact {
  width: calc(40% - 5px);
  /* Reducido a la mitad */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Para pantallas de hasta 1024px de ancho */
@media (min-width: 768px) and (max-width: 1024px) {

  .description__info {
    width: 50%;
    padding-right: 10px;
  }

  .aboutme__contact {
    width: 50%;
    margin-top: 10px;
  }
}

/* Para pantallas de hasta 768px de ancho */
@media (max-width: 768px) {
  .aboutme__section {
    margin-left: 10px;
    margin-right: 10px;
  }

  .description {
    flex-direction: column;
    align-items: center;
  }

  .description__text {
    margin-bottom: 7.5px;
  }

  .description__info {
    width: 100%;
    padding-right: 0;
  }

  .aboutme__contact {
    width: 100%;
    margin-top: 10px;
  }
}